# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.cache
nosetests.xml
coverage.xml
*.coveragerc
*.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
.docs/

# PyInstaller
*.manifest
*.spec

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
env/
.env
.env.*
.envs

# virtualenv
.venv/
venv/
ENV/
.env.bak
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
typing/
.mypy_cache/

# Pyre type checker
.pyre/

# Pyright type checker
.pyright/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# MacOS
.DS_Store

# Thumbnails
*.thumb

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.swp

# SQLite
*.sqlite3

# pytest
tests/__pycache__/